/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lobster&family=Poppins:wght@400;500&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/*=====================================
============== Common CSS 
=======================================*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 30px;
}
.section-white-space {
  margin-top: 100px;
  margin-bottom: 50px;
}
.right-arrow {
  margin-left: 10px;
}
.section-title h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}
.highlight {
  color: #e02c6d;
}
/*=====================================
========= Navigation Part CSS 
=======================================*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.nav-logo h3 {
  color: #3a3a3a;
  font-size: 24px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin-right: 5px;
}
.navigation li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  padding: 10px;
}
.navigation-container {
  display: flex;
  align-items: center;
}
.shopping-cart {
  color: #e02c6c;
  font-size: 25px;
}

/*=====================================
========= Top Banner Part CSS 
=======================================*/

.top-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  place-items: center;
}
.top-main-image {
  width: 100%;
  transition: 0.5s ease-in-out;
}
.top-banner-text h1 {
  color: #3a3a3a;
  font-size: 52px;
  line-height: 70px;
}
.top-banner-text p {
  margin: 15px 0px;
}
.top-banner-btn {
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: #e02c6d;
  border-radius: 20px;
}
.top-banner-image {
  background-image: url(../images/Circle-design.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.top-banner-text:hover ~ .top-banner-image img {
  transform: rotate(45deg);
}

/*=====================================
========= Brand Identity Part CSS 
=======================================*/

.brand-identity {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  box-shadow: 0px 0px 35px -30px #3a3a3a;
}
.brand-logo {
  text-align: center;
}

/*=====================================
===== Popular Collection Part CSS 
=======================================*/

.card-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.card-description p {
  color: #787885;
}
.card {
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-thumb img {
  width: 100%;
}
.card-description h3 {
  font-size: 28px;
  margin-top: 10px;
}
.doller {
  margin: 10px 0;
  font-weight: 100;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}
.rating i {
  font-size: 12px;
  color: orange;
}
.rating-num {
  margin-left: 10px;
}
.see-more-btn {
  margin: 30px 0px;
  text-align: right;
}
.see-more-btn a {
  color: #e02c6d;
  text-decoration: none;
  font-weight: bold;
}

/*=====================================
===== Popular Collection Part CSS 
=======================================*/

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.contact-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-img img {
  width: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  font-size: 18px;
  border: 1px solid #e02c6d;
  outline: 0;
}

/*=====================================
========= Responsive Custom Menu CSS 
=======================================*/

#nav-toggler {
  display: none;
}
#menu-icon {
  display: none;
  font-size: 30px;
  color: #3a3a3a;
  cursor: pointer;
}

/*=====================================
========= Footer Part CSS 
=======================================*/

#footer {
  background-color: #0a0826;
  color: white;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.footer h3 {
  font-size: 24px;
}
.footer-icons {
  margin-top: 25px;
}
.footer-icons a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 15px;
  padding: 3px 7px;
  border-radius: 50%;
  background-color: rgb(52 46 136 / 38%);
}

/*===================================================
======= Responsive Part CSS For All Devices
=====================================================*/

@media (max-width: 992px) {
  .top-banner-text h1 {
    font-size: 45px;
  }
  .card-collection {
    grid-template-columns: repeat(2, 1fr);
  }
  .brand-identity {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navigation {
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    background: #0a0826;
    text-align: center;
    display: block;
    transform: translateY(-450px);
    transition: 0.2s ease-in-out;
  }
  #nav-toggler:checked ~ .navigation {
    transform: translateY(0);
  }
  .navigation li {
    margin: 16px;
  }
  .navigation li a {
    display: block;
    color: #fff;
    font-size: 20px;
    background: #18135a;
    transition: 0.3s;
  }
  .navigation li a:hover {
    background: #06023a;
  }
  .top-banner,
  .contact {
    display: flex;
    flex-direction: column;
  }
  .top-banner-text {
    order: 2;
    margin-top: 50px;
    text-align: center;
  }
  .card-collection {
    grid-template-columns: repeat(1, 1fr);
  }
  .brand-identity {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 476px) {
  .nav-logo h3 {
    font-size: 20px;
  }
  .top-banner-text h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 340px) {
  .nav-logo h3 {
    font-size: 16px;
  }
  .top-banner-text h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .brand-identity {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* =============================================================================================================################## THE END!
============================================================================================*/
